[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = '*'
pre-commit = '*'
requests-mock = '*'
omaha = {editable = true,path = "."}

[packages]
pandas = '*'
requests = '*'
cachetools = '*'
quandl = "*"

[requires]
python_version = "3.7"
